@import "./styles/navbar";
@import"./styles/main";
@import "./styles/profile";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color : #010409;
    --second-color : #0d1118;
    --navbar-color : #161b22;
    --btn-color : #21262d;
    --grey-color : #c9d1d9;
    --grey-two-color : #8b949e ;
    --line-color : #30363d;
    --input-color : #0d1117;
    --border-color : #30363d;
    --text-blue-color : #58a6ff;
}

.App{
    background-color: var(--first-color);
    height: 100%;
}