.left{
    width: 310px;


.image {
    height: 220px;
    width: 220px;
    position: relative;
    margin: 4px auto;

    img{
        width: 100%;
        object-fit: contain;
        border-radius: 50%;
    }
  }

  .emoticonBox{
    height: 38px;
    width: 38px;
    position: absolute;
    top: 160px;
    right: -8px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .emoticon {
        width: 20px;
        height: 20px;
    }
  }

  .leftDetails {
    height: 200px;
    width: 100%;
    color: white;

    h2{
        font-size: 26px;
        margin: 24px 0;
    }

    button{
        font-size: 14px;
        font-weight: bold;
        padding: 8px;
        width: 100%;
        border-radius: 8px;
        border: none;
        background-color: var(--btn-color);
        border: 1px solid rgb(70, 70, 70);
        color: white;
        cursor: pointer;
    }
  }
}