@import"./menu";

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color);
    color: white;
    height: 60px;
    padding: 2px 28px;
    position: sticky;
    top: 0;

    .navLeft{
        display: flex;
        align-items: center;
        justify-content:space-between;
    }

    img{
        width: 40px;
        object-fit: contain;
    }

    input{
        width: 260px;
        height: 34px;
        background-color: var(--input-color);
        margin-left: 10px;
        font-size: 14px;
        padding-left: 10px;
        font-weight: bold;
        border: 1px solid var(--inline-color);
        border-radius: 4px;
    }

    input:focus {
     width: 400px;
     transition: width ease-out 0.3s ;
    }

    .navCenter {
    flex: 1;
    display: flex;
    gap: 18px;
    margin-left: 18px;
    align-items: center;
    color: white;

    h2{
        font-size: 14px;
        font-weight: bold;
    }
    }

    .navRight{
        display: flex;
        align-items: center;
        width: 110px;
        justify-content: space-between;
    
    > * {
      cursor: pointer;
    }

    img{
        width: 20px;
        object-fit: contain;
        border-radius: 50%;
    }
    .navRightIcons{
        display: flex;
        align-items: center;
    }
  }
}